*, *::after, *::before {
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #181818;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.6;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 800px) {
  .o-container {
    max-width: 740px;
  }
}
@media (min-width: 1200px) {
  .o-container {
    max-width: 1140px;
  }
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 800px) {
  .o-col--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 800px) {
  .o-col--md33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 800px) {
  .o-col--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 800px) {
  .o-col--md75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 800px) {
  .o-row {
    flex-direction: row;
  }
}
.o-row--center {
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

.c-btn {
  font-size: 0.875rem;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: 0.2s all;
}
.c-btn:hover {
  text-decoration: none;
}
.c-btn--primary {
  color: #ffffff;
  background-color: #1a62fc;
}
.c-btn--primary:hover {
  background-color: #0349e0;
  color: #ffffff;
}
.c-btn--white {
  color: #1a62fc;
  background-color: #ffffff;
}
.c-btn--white:hover {
  background-color: #e6e6e6;
}
.c-btn--blue {
  color: #ffffff;
  background-color: #324194;
}
.c-btn--blue:hover {
  color: #ffffff;
  background-color: #3f52ba;
}
.c-btn--green {
  color: #ffffff;
  background-color: rgba(0, 170, 14, 0.986);
}
.c-btn--green:hover {
  color: #ffffff;
  background-color: green;
}

.c-heading {
  color: rgb(57, 57, 255);
  margin-top: 5px;
  margin-bottom: 5px;
}
.c-heading--level1 {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .c-heading--level1 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }
}
.c-heading--level2 {
  font-size: 1.25rem;
}
@media (min-width: 1200px) {
  .c-heading--level2 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}
.c-heading--level3 {
  font-size: 1.25rem;
}
.c-heading--level4 {
  font-size: 1.25rem;
}
.c-heading--level5 {
  font-size: 0.875rem;
}
.c-heading--upper {
  text-transform: uppercase;
}
.c-heading--bold {
  font-weight: 700;
}
.c-heading--white {
  color: #ffffff;
}

.c-nav {
  display: none;
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 0.3s 0.1s ease-in-out;
  height: 0;
  overflow: hidden;
}
.c-nav__item {
  color: #ffffff;
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  transition: 0.2s all;
}
.c-nav__item:hover {
  color: #1a62fc;
  font-size: 0.9625rem;
}
@media (min-width: 800px) {
  .c-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    position: static;
    transform: translateX(0);
    opacity: 1;
  }
}

.c-nav-active {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  transform: translateX(75%);
  opacity: 1;
  height: auto;
  transition: opacity 0.3s 0.1s ease-in-out;
}

.c-toggle_menu {
  display: flex;
  justify-content: end;
}
.c-toggle_menu__hamburger {
  background-color: transparent;
  padding: 15px;
  display: flex;
  cursor: pointer;
  border: 0;
  margin: 0;
  width: 250px;
  justify-content: end;
  transition: transform 0.3s 0.1s ease-in-out;
}
.c-toggle_menu__hamburger__box {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  display: inline-block;
  position: relative;
}
.c-toggle_menu__hamburger__box__inner, .c-toggle_menu__hamburger__box__inner::after, .c-toggle_menu__hamburger__box__inner::before {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
}
.c-toggle_menu__hamburger__box__inner {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.c-toggle_menu__hamburger__box__inner::after, .c-toggle_menu__hamburger__box__inner::before {
  content: "";
  left: 0;
}
.c-toggle_menu__hamburger__box__inner::after {
  top: -10px;
}
.c-toggle_menu__hamburger__box__inner::before {
  top: 10px;
}
.c-toggle_menu__hamburger-active {
  transform: translateX(-150px);
}
.c-toggle_menu__hamburger-active .c-toggle_menu__hamburger__box__inner {
  background-color: transparent;
}
.c-toggle_menu__hamburger-active .c-toggle_menu__hamburger__box__inner::after {
  transform: translateY(10px) rotate(45deg);
}
.c-toggle_menu__hamburger-active .c-toggle_menu__hamburger__box__inner::before {
  transform: translateY(-10px) rotate(-45deg);
}
@media (min-width: 800px) {
  .c-toggle_menu {
    display: none;
  }
}

.c-text--center {
  text-align: center;
}

.t-site-header {
  background-color: #324194;
  height: auto;
}
@media (min-width: 800px) {
  .t-site-header {
    height: 32rem;
    clip-path: ellipse(68% 350px at 50% 28%);
  }
}
.t-site-header__top {
  position: relative;
}
.t-site-header__img-box {
  position: absolute;
  display: none;
}
@media (min-width: 800px) {
  .t-site-header__img-box {
    height: 6rem;
    width: auto;
    display: flex;
    position: static;
    justify-content: center;
  }
  .t-site-header__img-box img {
    flex-basis: content;
  }
}
.t-site-header__divider {
  height: 1px;
  width: 90%;
  background-color: #ffffff;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
}
.t-site-header__hero {
  text-align: center;
  margin-top: 60px;
}
@media (min-width: 800px) {
  .t-site-header__hero {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
.t-site-header__hero__text {
  color: #ffffff;
  margin-top: 25px;
  font-size: 1.25rem;
  margin-bottom: 30px;
  padding: 0 15px;
}
.t-site-header__hero__button {
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 800px) {
  .t-site-header__hero__button {
    margin: 35px 20px;
  }
}

.t-about-us {
  margin-top: 60px;
}
.t-about-us__left {
  display: flex;
}
.t-about-us__left__text > h2 {
  margin-bottom: 25px;
}
.t-about-us__left__text > p {
  font-size: 1rem;
}
.t-about-us__right__photo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.t-advantages {
  margin-top: 100px;
  margin-bottom: 100px;
}
.t-advantages__items {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.t-advantages__items__item {
  margin-top: 25px;
}
.t-advantages__items__item__icon {
  width: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.t-advantages__items__item__text {
  text-align: center;
}
.t-advantages__items__item__text__title {
  font-size: 1rem;
}