*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #1a62fc;
  font-family: "Montserrat", sans-serif;
  color: #181818;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: red;
}