.t-advantages {
    margin-top: $grid-base * 10;
    margin-bottom: $grid-base * 10;

    &__items {
        margin-top: $grid-base * 4;
        display: flex;
        flex-wrap: wrap;

        &__item {
            margin-top: $grid-base * 2.5;

            &__icon {
                width: $grid-base * 8;
                height: auto;

                @include margin-auto;
            }

            &__text {
                text-align: center;

                &__title {
                    font-size: $font-size-4;
                }
                
            }
        }
    }
}