.t-slider {
  background-color: $blue-dark;
  padding: $grid-base * 8 0;

  &__items {
    display: flex;
    margin: 30px 0;

    &__item {
      background-color: $white;
      margin: $grid-base;
      max-width: $grid-base * 50;
      border-radius: $border-radius;
    

    &__text {
      padding: $grid-base;
    }

      &__img img {
        border-radius: $border-radius;
      }
  }
  }
}

.glide {

  &__arrow {
    width: $grid-base * 4;

    
    &--right {
      
      right: $grid-base * -5 !important;
      
      @include large-up {
      right: $grid-base * -7 !important;
    }
  }

    &--left {
      left: $grid-base * -5 !important;

      @include large-up {
        left: $grid-base * -7 !important;
      }
      
    }


  }

  &__bullets {
    display: flex;
    justify-content: center;
    bottom: $grid-base * -2 !important;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__bullet {
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    margin-top: $grid-base;
  }
}


