//kolory
$white: #ffffff;
$black: #000000;
$blue: #0423d6;
$blue-light: #1a62fc;
$dark-gray: #181818;

//tekst
$font-primary-size: 1rem;
$font-size-1: $font-primary-size * 0.75;
$font-size-2: $font-primary-size * 0.875;
$font-size-3: $font-primary-size * 1;
$font-size-4: $font-primary-size * 1.25;
$font-size-5: $font-primary-size * 1.5;
$font-size-6: $font-primary-size * 1.75;

//breakpointy związane z responsywnością
$breakpoints: (
  "small-up": "max-width:400px",
  "medium-up": "max-width:800px",
);
