//kolory
$white: #ffffff;
$black: #000000;
$blue-dark: #324194;
$blue-light: #1a62fc;
$dark-gray: #181818;
$blue-heading: rgb(57, 57, 255);
$green: rgba(0, 170, 14, 0.986);
$dark-green: green;

//tekst
$font-primary-size: 1rem;
$font-size-1: $font-primary-size * 2.5;
$font-size-2: $font-primary-size * 1.5;
$font-size-3: $font-primary-size * 1.25;
$font-size-4: $font-primary-size * 1;
$font-size-5: $font-primary-size * 0.875;
$font-size-6: $font-primary-size * 0.75;

//Siatka
$grid-base: 10px;
$gutter: $grid-base * 1.5;

$bp-medium: '800px';
$bp-large: '1200px';

$border-radius: $grid-base * 0.5;
