//kolory
$white: #FFFFFF;
$black: #000000;
$blue: #0423d6;
$blue-light: #1a62fc;

//tekst
$font-primary-size: 16px;
$font-size-1: $font-primary-size * 0.25;
$font-size-2: $font-primary-size * 0.5;
$font-size-3: $font-primary-size * 0.75;
$font-size-4: $font-primary-size * 1.25;
$font-size-5: $font-primary-size * 1.5;
$font-size-6: $font-primary-size * 1.75;


