@mixin reset {
    margin-left: 0;
    margin-right: 0;
}

@mixin margin-padding {
    margin: 0;
    padding: 0;
}

@mixin margin-auto  {
    margin-left: auto;
    margin-right: auto;
}

@mixin medium-up {
    @media (min-width: #{$bp-medium}) {
    @content; 
} 
}

@mixin large-up {
    @media (max-width: #{$bp-large}) {
    @content;
    }
}
